<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="a marketplace for tattoo artists">
    <meta name="author" content="stoner_punk">
    <title>OtziSpace. Tattoo artists marketplace.</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header top-bar">
        <span class="logo"><%= link "Ötzi.space", to: page_path(@conn, :index)  %></span>
        <nav role="navigation">
          <ul class="nav">
            <%= if @current_user do %>
                <li><%= link "Profile", to: profile_path(@conn, :index) %></li>
            <% end %>
            <li><%= link "Artists", to: artist_path(@conn, :index) %></li>
            <li><%= login_or_logout(@conn) %></li>
          </ul>
        </nav>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
