$base-bg: #f4f2f0;
$base-color: #0b0709;
$link-color: #812e24;
$active-link-color: #c22b38;
$panel-bg: #1f1729;

.right {
    float: right;
}

@custom-selector :--link a, .link;
@custom-selector :--active, :hover, :focus, :active
:root {
    transition: all 0.4s;
}
body {
    transition: all 0.4s;
}
a {
    transition: all 0.4s;
}

@define-mixin no-bullet {
    list-style-type: none;
}

ul.menu__list {
    @mixin no-bullet;
    display: flex;
    li {
        margin: 0 1em 0 0;
    }
}

.menu-burger {
    margin: 0.3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &:hover > .menu-burger__slice {
      background-color: #cccccc;
    }
    .menu-burger__slice {
        display: block;
        width: 22px;
        height: 2px;
        z-index: -1;
        margin: 3px;
        background-color: white;
        border-radius: 1px;
    }
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    transition: all 0.4s;
}
.menu {

}

.menu__item {

}

.table {
    width: 100%;
}

.container {
    margin-top: 3em;
}

.form-group {
    input[type="text"], input[type="password"] {
        height: 1em;
        font-family: Lato;
        width: 100%;
        font-size: 2em;
        display: inline-block;
    }
}

.login-form {
    width: 80%;
    position: relative;
    text-align: center;
    left: 9%;
    top: 3em;
    height: 60%;
}

.logo {
    vertical-align: middle;
    margin-left: 1em;
    font-size: 2em;
}

body {
    margin: 0;
    font-family: Lato;
}


ul.no-bullet {
    list-style-type: none;
}

.header {
    background-color: $panel-bg;
    color: $base-bg;
    :--link {
        color: $base-bg;
    }
}


:--link {
    text-decoration: none;
    color: $link-color;
}
:--link:hover, :--link:focus {
    color: $active-link-color;
}
    
html, body {
    background-color: $base-bg;
    color: $base-color;
}

.top-bar {
    top:0;
    position: fixed;
    width:100%;
}